@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    src: local('Circe'), url('~static/fonts/CRC55.woff') format('woff');
}

.solo .v-input__slot{
    box-shadow:none !important;
}