@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    src: local('Circe'), url('~static/fonts/CRC55.woff') format('woff');
}

body{
    &::-webkit-scrollbar{
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: #f7f7f7;
    }

    &::-webkit-scrollbar-thumb{
        background: #ddd;
        border-radius:5px;
    }
}

.solo .v-input__slot{
    box-shadow:none !important;
}

@media(max-width: 1600px){
    html{
        font-size: 87.5% !important;
    }
}

@media(max-width: 1400px){
    html{
        font-size: 81.25% !important;
    }
}